header{
  background: darken($primary-blue, 11%);
  font-size: 16px;
  color: $white;
  display: flex;
  display: -webkit-flex;
  a{
    color: $white;
    padding: 4px 0;
  }
}

.primary-cta{
  margin-left: auto;
  background: $yellow;
  border-radius: 2px;
  padding: 4px 16px;
}