.data-table{
  .data-amount{
    font-weight: 700;
    font-size: 18px;
    color: $gray-dark;
  }
  @media (max-width: 768px){
    .title-comment,
    .data-comment{
      display: none;
    }
  }
  @media (max-width: 480px){
    thead,
    .data-date{
      display: none;
    }
  }
}
.category-icon{
  background: $primary-blue;
  color: $white;
  padding: 8px;
  border-radius: 50%;
  @media (max-width: 480px){
    padding: 6px;
  }
}