.category-icon{
  background: $primary-blue;
  color: $white;
  padding: 8px;
  border-radius: 50%;
}
.data-table{
  @media (max-width: 640px){
    .title-comment,
    .data-comment{
      display: none;
    }
  }
  @media (max-width: 480px){
    .title-date,
    .data-date{
      display: none;
    }
  }
}