body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: $primary-blue;
}
  
input[type="text"],
input[type="number"],
input[type="password"],
select,
textarea{
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-height: 36px;
  padding: 0 8px;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path stroke="#CCC" stroke-width="1.5" d="M4.087 8.04l7.985 7.926 7.943-8.02"/></g></svg>') 98% center no-repeat #ffffff;
}
textarea{
  padding: 8px;
  height: 64px;
}
button{
  font-size: inherit;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 32px;
  padding: 0 8px;
  display: block;
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
  &.button-inline{
    display: inline-block;
    width: auto;
    margin: 0 4px 0 4px;
    padding: 0 4px;
    height: 24px;
  }
}

ul{
  list-style-type: none;
  margin-bottom: 16px;
  li{
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
  }
}

// Table
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #f7f7f7; 
}
tr:hover{
  background: #eeeeee !important;
}
th { 
  background: #eee; 
  text-transform: uppercase;
  font-weight: normal;
  color: $gray-light;
}
td, th { 
  padding: 16px; 
  text-align: left; 
}
td{
  color: $gray-medium;
  cursor: pointer;
  @media (max-width: 480px){
    padding: 12px 8px;
  }
}

// Utitlities
.text-ar{
  text-align: right;
}
.text-al{
  text-align: left;
}
.text-ac{
  text-align: center;
}
.currency-sign{
  &:before{
    content: "\20b9";
    margin-right: 4px;
  }
}

// Scafollding
.container{
  padding: 16px 64px;
  @media (max-width: 768px){
    padding-left: 32px;
    padding-right: 32px;
  }
  @media (max-width: 480px){
    padding-left: 16px;
    padding-right: 16px;
  }
}
.page-title{
  display: flex;
  display: -webkit-flex;
  margin-bottom: 16px;
  h2{
    font-weight: 400;
  }
  .back-button{
    margin-right: 16px;
  }
}