.data-table{
  padding: 24px 78px;
  @media (max-width: 768px){
		padding: 8px;
	}
}

.filter-button{
  margin-right: 16px;
  display: block;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid $blue;
  border-radius: 3px;
  color: $blue;
  &:hover,
  &.active{
    color: $white;
    background: $blue;
  }
}

.data-category-icon{
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: $blue;
  color: $white;
}