.data-table{
  padding: 24px 78px;
  @media (max-width: 768px){
		padding: 8px;
	}
}

.data-category-icon{
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: $blue;
  color: $white;
}